<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404</title>

    <style>
        #bg {
            position: fixed;
            top: -50%;
            left: -50%;
            width: 200%;
            height: 200%;
        }
        #bg img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            min-width: 50%;
            min-height: 50%;
        }
    </style>
</head>
<body>

<div id="bg">
    <img src="404.png" alt="">
</div>

</body>

<script>
    setTimeout(function(){
        location.href = '/';
    }, 3000);
</script>
</html>