<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Σχεδίαση και Χρήση Βάσεων Δεδομένων</title>

    <link rel="stylesheet" href="bootstrap.min.css" type="text/css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="text-center" style="padding-top: 50px;">
            <h1>
                Σχεδίαση και Χρήση Βάσεων δεδομένων
            </h1>
            <h3>
                Εφαρμογή Python + SQL
            </h3>
            <hr>
            <!--UPDATE & SEARCH ARTISTS-->
            <a href="searchArtists">
                <button class="btn btn-primary">
                    UPDATE & SEARCH ARTISTS
                </button>
            </a>

            <!--SEARCH SONGS-->
            <a href="searchSongs">
                <button class="btn btn-info">
                    SEARCH SONGS
                </button>
            </a>

            <!--INSERT ARTIST-->
            <a href="insertArtist">
                <button class="btn btn-success">
                    INSERT ARTIST
                </button>
            </a>

            <!--INSERT SONG-->
            <a href="insertSong">
                <button class="btn btn-warning">
                    INSERT SONG
                </button>
            </a>
        </div>
    </div>
</div>

</body>

<script type="text/javascript" src="jquery-2.1.4.min"></script>
<script type="text/javascript" src="bootstrap.min.js"></script>

</html>
