<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Insert Artist</title>

    <link rel="stylesheet" href="bootstrap.min.css" type="text/css">

</head>
<body>

<div class="container">
    <div class="row">

        <!--TITLE AND BACK BUTTON-->
        <div class="well" style="margin-top: 25px;">
            <div class="text-center" style="position: relative;">
                <div style="position: absolute;">
                    <a href="/" style="float: left; position: absolute;">
                        <button class="btn btn-default">
                            Back
                        </button>
                    </a>
                </div>
                <div style="display: inline-block;">
                    <h2 style="color: #3e8f3e">
                        Insert Artist
                    </h2>
                </div>
            </div>
            <hr style="border-color: #3e8f3e">

            <!--INSERT ARTIST-->
            <form class="form-horizontal" method="post" action="/insertArtist">

                <!--NATIONAL ID-->
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        National Id:
                    </label>
                    <div class="col-md-6">
                        <input name="nationalID" type="text" class="form-control" maxlength="8" placeholder="Insert national id" required>
                    </div>
                </div>

                <!--NAME-->
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Name:
                    </label>
                    <div class="col-md-6">
                        <input name="name" type="text" class="form-control" maxlength="36" placeholder="Insert name" required>
                    </div>
                </div>

                <!--SURNAME-->
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Surname:
                    </label>
                    <div class="col-md-6">
                        <input name="surname" type="text" class="form-control" maxlength="45" placeholder="Insert surname" required>
                    </div>
                </div>

                <!--BIRTH YEAR-->
                <div class="form-group">
                    <label class="col-md-4 control-label">
                        Birth Year
                    </label>
                    <div class="col-md-6">
                        <input name="birthYear" type="number" min="1900" max="2016" step="1" class="form-control" placeholder="Insert year" required>
                    </div>
                </div>

                <div class="form-group text-center">
                    <input class="btn btn-primary" type="submit" value="Insert Artist">
                </div>
            </form>

            <!--RESULT OF INSERTION-->
            {{!insert_status}}
        </div>
    </div>
</div>

</body>
</html>
